#flashes {
    font-size: 30px;
    color: #0a001f;
    text-align: right;
    padding: 10px 20px;
}

#container {
    height: auto;
    overflow: hidden;
    padding: 10px 20px;
}

#sidebar {
    width: 200px;
    float: left;
    /*background: #aafed6;*/
}

#content {
    width: auto;
    overflow: hidden;
    /*background: #e8f6fe;*/
}

.err {
    color: darkred;
}
