<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <title>{% block title %}My amazing site{% endblock %}</title>
</head>

<body>
<div id="container">
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/login/">login</a></li>
                <li><a href="/registration/">registration</a></li>
                <hr>
                <li><a href="/add/2/3/">add 2, 3</a></li>
                <li><a href="/add/3/4/">add 3, 4</a></li>
            </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</div>
</body>
</html>
