{% extends 'base.html' %}

{% block title %}Registration{% endblock %}

{% block content %}
    <h1>Registration</h1>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
        <p>
            Логин:<br>
            {{ form.email(size=80) }}<br>
            {% for error in form.errors.email %}
                <span class="err">[{{ error }}] </span>
            {% endfor %}
        </p>

        <p>
            Пароль:<br>
            {{ form.password(size=80) }}<br>
            {% for error in form.errors.password %}
                <span class="err">[{{ error }}] </span>
            {% endfor %}
        </p>

        <p>
            password_repeat:<br>
            {{ form.password_repeat(size=80) }}<br>
            {% for error in form.errors.password_repeat %}
                <span class="err">[{{ error }}] </span>
            {% endfor %}
        </p>

        <p><input type="submit" value="Registration"></p>
    </form>
{% endblock %}
